In [16]:
import time
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

In [21]:
conn_string = 'postgresql://postgres:123456789@localhost:5432/nyc_taxi_data'

df = pd.read_csv('dataset/yellow_tripdata_2020-01.csv', low_memory=False, header=None, names=['vendor_id', 'tpep_pickup_datetime'
                                                                                ,'tpep_dropoff_datetime', 'passenger_count'
                                                                                ,'trip_distance', 'ratecode_id'
                                                                                ,'store_and_fwd_flag', 'pulocation_id'
                                                                                ,'dolocation_id', 'payment_type'
                                                                                ,'fare_amount', 'extra', 'mta_tax'
                                                                                ,'tip_amount', 'tolls_amount'
                                                                                ,'improvement_surcharge', 'total_amount'
                                                                                ,'congestion_surcharge'])
df.to_csv
df.reset_index(drop=True,inplace=True)
# addr_df_=addr_df.drop('Unnamed: 0',axis=1)
df_ = df.insert(0, 'id', range(1, 1 + len(df)))
df

,id,vendor_id,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,ratecode_id,store_and_fwd_flag,pulocation_id,dolocation_id,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,1,2020-01-01 00:28:15,2020-01-01 00:33:03,1,1.2,1,N,238,239,1,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5
1,2,1,2020-01-01 00:35:39,2020-01-01 00:43:04,1,1.2,1,N,239,238,1,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5
2,3,1,2020-01-01 00:47:41,2020-01-01 00:53:52,1,0.6,1,N,238,238,1,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5
3,4,1,2020-01-01 00:55:23,2020-01-01 01:00:14,1,0.8,1,N,238,151,1,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0
4,5,2,2020-01-01 00:01:58,2020-01-01 00:04:16,1,0.0,1,N,193,193,2,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1048571,1,2020-01-07 07:33:47,2020-01-07 07:38:56,1,0.7,1,N,229,140,2,5.5,2.5,0.5,0.00,0.0,0.3,8.80,2.5
1048571,1048572,1,2020-01-07 07:40:48,2020-01-07 07:50:38,1,1.3,1,N,140,162,1,8.5,2.5,0.5,2.50,0.0,0.3,14.30,2.5
1048572,1048573,1,2020-01-07 07:19:09,2020-01-07 07:28:24,1,1.4,1,N,48,161,1,7.5,2.5,0.5,2.16,0.0,0.3,12.96,2.5
1048573,1048574,1,2020-01-07 07:41:00,2020-01-07 07:45:59,3,0.7,1,N,233,162,1,5.5,2.5,0.5,1.76,0.0,0.3,10.56,2.5
1048574,1048575,1,2020-01-07 07:39:48,2020-01-07 07:43:45,1,1.5,1,N,79,137,1,6.0,2.5,0.5,1.86,0.0,0.3,11.16,2.5

In [22]:
#perform to_sql test and print result
db = create_engine(conn_string)
conn = db.connect()

df.to_sql('nyc_taxi_data', con=conn, if_exists='replace', index=False)

#perform COPY test and print result
sql = '''
COPY copy_test
FROM 'dataset/yellow_tripdata_2020-01.csv'
DELIMITER ',' CSV;
'''

table_create_sql = '''
CREATE TABLE IF NOT EXISTS copy_test (
            vendor_id        INTEGER,
            tpep_pickup_datetime               TIMESTAMP,
            tpep_dropoff_datetime          TIMESTAMP,
            passenger_count           DECIMAL,
            trip_distance       DECIMAL,
            ratecode_id       DECIMAL,
            store_and_fwd_flag       TEXT,
            polocation_id      INTEGER,
            dolocation_id      INTEGER,
            payment_type       DECIMAL,
            fare_amount       DECIMAL,
            extra       DECIMAL,
            mta_tax       DECIMAL,
            tip_amount       DECIMAL,
            tolls_amount       DECIMAL,
            improvement_surcharge       DECIMAL,
            total_amount       DECIMAL,
            congestion_surcharge       DECIMAL
        );
'''

pg_conn = psycopg2.connect(conn_string)
cur = pg_conn.cursor()
cur.execute(table_create_sql)
cur.execute('TRUNCATE TABLE copy_test')

start_time = time.time()
df.to_csv('dataset/yellow_tripdata_2020-01.csv', index=False, header=False)
cur.execute(sql)
pg_conn.commit()
cur.close()
print("COPY duration: {} seconds".format(time.time() - start_time))

#close connection
conn.close()

UndefinedTable: relation "copy_test" does not exist